<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset='utf-8'>
    <base href="/" />
    <title>Billing Tracker</title>
    <meta name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1.0'>
    <meta name='description' content='A cloud based tool to help you track your work hours'>
    <meta name='keywords' content='atterney,patent atterney,work hours,billing'>
    <link rel="canonical" href='http://www.roselynli.com' />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
